<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
=======
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
>>>>>>> 892c7b5cc0e11624813c33d9dbc6bc8e939658de
}